/* our style */
.error {
	padding: 5px 5px;
	margin: 5px;
	border: solid 1px #FBD3C6;
	background: #FDE4E1;
	color: #CB4721;
	line-height: 20px;
        clear: both;
}
.success {
	padding: 5px 5px;
	margin: 5px;
	border: solid 1px #C0F0B9 !important;
	background: #D5FFC6 !important;
	color: #48A41C !important;
        clear: both;
}
.alert {
	border:solid 1px #FBD3C6 !important;
	background:#FDE4E1 !important;
	color:#CB4721 !important;
	opacity: 1 !important;
	direction: rtl !important;
}

/*add_popup*/
.add_popup {
    background: none repeat scroll 0 0 #565656;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    height: 100px;
    left: 50%;
    margin-left: -210px;
    margin-top: -90px;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 420px;
    z-index: 2147483647;
}
.add_popup_content{
	width:420px;
	height:180px;
	display:block;
	position:relative;
	border-radius:5px;
}
.add_popup_content_remove{
	width:420px;
	height:180px;
	/* background:url("images/remove.png") no-repeat center 27px; */
	display:block;
	position:relative;
}
.add_popup_content_remove span {
    display: block;
    padding-top: 37px;
}
.add_popup_content span {
    display: block;
    padding-top: 27px;
	line-height: 20px;
}
.add_popup_more{
	position:absolute;
	width:204px;
	line-height:28px;
	right:4px;
	bottom:4px;
	border-radius: 5px;
	/* border: 1px solid #BFBFBF; */
	text-align: center;
	height: 28px;
	color: #ffffff;
	font-size: 16px;
	background: #36C360;
	cursor: pointer;
}
.add_popup_more:hover{
	color: #ffffff;
	background:#008a00;
}
.add_popup_tasviye{
	position:absolute;
	width:204px;
	height: 28px;
	line-height:28px;
	color:#ffffff;
	background:#34C7C7;
	left:4px;
	bottom:4px;
	border-radius: 5px;
	/* border: 1px solid #BFBFBF; */
}
.add_popup_tasviye:hover{
	color:#ffffff;
	background:#2989D8;
}
/*add_popup*/
/*modalbox*/
#modalbox-wrap {
	display:none;
	position:relative;
	z-index:9999999999999;
	opaticy: 1;
	margin:auto;
    width: 400px;
	margin-top: 2px;
}
#modalbox-bg{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1002;
}
/*modalbox*/

/* our style */


/* new style */
.contact-form form input.send {
background-image: -moz-linear-gradient(90deg, rgb(24, 73, 168) 0%, rgb(59, 101, 181) 100%);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 100px;
}

#google_map{
	height: 300px;
}

.pg ul.pagination > li > a.active {
    background-color: rgb(234, 234, 234);
    border-radius: 5px;
    color: rgb(211, 29, 29);
}

.user-review form input.add {
	background-image: -moz-linear-gradient(90deg, rgb(21, 62, 143) 0%, rgb(65, 107, 187) 100%);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    float: left;
    font-size: 15px;
    height: 30px;
    line-height: 25px;
    margin: 15px 0 0;
    padding: 0;
    text-align: center;
    width: 100px;
}

.group-news ul > li.active {
  background-color: #f0f0f0;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* new style */

/*Search result*/
#ajax_result25 {
    /*background: #fff;*/
    display: block;
    height: auto;
    overflow: auto;
    position: absolute;
    left: 0;
    /*padding: 10px 0;*/
    top: 32px;
    width: 100%;
    z-index: 100;
	overflow-x: hidden;
	border-radius: 5px;
    margin: 2px 0 0;
}

#ajax_result25 ul{
    width: 508px;
}
#ajax_result25 ul li {
    border-bottom: 1px solid #eaeaea;
    clear: both;
    margin: 0 auto;
    overflow: hidden;
    padding: 5px;
    width: 498px;
    height: 51px;
    position: relative;
}
#ajax_result25 ul li a{
    display: inline;
}
#ajax_result25 ul li a.titleajax1{
    position: absolute;
    right: 65px;
    top: 5px;
}
#ajax_result25 ul li a.titleajax2{
    position: absolute;
    right: 65px;
    top: 25px;
}
#ajax_result25 ul li:hover{
	background:#eaeaea;
}
#ajax_result25 ul li:last-child{
	border-bottom:none;
}
#ajax_result25 ul li img{
	float:right;
	width:50px;
	height:50px;
	margin-left:10px;
	vertical-align:middle;
}
#ajax_result25 ul li a{
	color:#585858;
}
/*Search result*/

/*compare*/
#comparetable tr:hover .products2{
	background:#21B8B8 !important;
	color:#ffffff;
}
#comparetable td{
	vertical-align:middle;
}
.my_basket_compare{
    /* width: 739px;
    height: 200px;
    border: 1px solid #ccc; */

}
.my_basket_compare li {
    border: 1px solid #b2b2b2;
	border-radius: 5px;
    display: inline;
    float: right;
    height: 207px;
    margin: 0 5px 5px;
    overflow: hidden;
    padding: 2px 2px 5px;
    position: relative;
    width: 190px;
}
.my_basket_compare li a{
	color:#8b8b8b;
}
.my_basket_compare ul {
    margin-right: -35px;
    overflow: hidden;
    text-align: center !important;
}
.my_basket_compare li a:hover{
	color:#FF7617;
}
.my_basket_compare_delete {
    background: url("img/remove2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 20px;
    left: 6px;
    position: absolute;
    top: 6px;
    width: 20px;
    z-index: 10;
}


.product_name333 {
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
    height: 35px;
    line-height: 35px;
    position: absolute;
    right: 2px;
    text-align: center;
    top: 151px;
    width: 184px;
}

.my_basket_compare ul li .product_name333 .persian_name333 {
    color: #0160D2;
    font-size: 13px;
    font-weight: normal;
}
.ts-basket-product-arrow{
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: url("img/comparearrow.gif");
background-origin: padding-box;
background-position: 0 0;
background-repeat: no-repeat;
background-size: auto auto;
bottom: -8px;
height: 8px;
padding-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
position: absolute;
width: 15px;
}
#comparetable tr:hover .products2{
	background:#91B8F9 !important;
	color:#ffffff;
}
#comparetable td{
	vertical-align:middle;
}
.block2 .blc5{
	position: relative;
	width: 200px;
}
.blc5 > ul #ajax_result22 {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 182px;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 32px;
    width: 224px;
    z-index: 99999999;
}
.result_hover a:hover{
	color:#61BAD0;
}
.blccc {
    color: #000000;
    font-size: 15px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    width: 194px;
}
.ts-basket-product-close{
	width: 15px;
	height: 15px;
	cursor: pointer;
	background:url("img/remove.png") no-repeat 0px 0px;
	display:block;
}
#compare-btn {
    border: 1px solid #B2B2B2;
	border-radius: 5px;
    float: left;
    height: 50px;
    line-height: 50px;
    margin-top: 0 5px;
    text-align: center;
    width: 70px;
}
#delete-btn{
    border: 1px solid #B2B2B2;
	border-radius: 5px;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 70px;
	margin-top:5px;
}
#compare-btn a, #delete-btn a{
	display:block;
	width:100%;
	height:100%;
	font-size:13px;
	color:#555555;
}
#compare-btn:hover{
	border:1px solid #0160D2;
}
#delete-btn:hover{
	border:1px solid #F40000;
}
#compare-btn:hover a{
	color:#0160D2;
}
#delete-btn:hover a{
	color:#F40000;
}
.my_basket_compare li:hover{
	border:1px solid #F40000;
}
/*compare*/
/*invoice*/
.table11 {
	background: none repeat scroll 0 0 #FFF;
	border: 1px solid #CDCDCD;
	/* border-radius: 3px 3px 3px 3px; */
	box-shadow: 0 2px 2px -2px #CCCCCC;
	position: relative;
	/* margin:10px; */

}
.table11  td, .table  th { border: 1px solid #dadada;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topright: 2px; -webkit-border-top-left-radius: 2px; -moz-border-radius-topleft: 2px; width:9% !important;  }
.table11  td:first-child, .table  th:first-child { border-right: none; }
.table11  td { padding: 9px 16px; vertical-align: middle; color: #000; text-align:center;}
.table11  td  a:hover{ color: #FF7617;}
.table11  td  a{ color: #2C5CAA;}
.table11  tr { border-top: 1px solid #dadada; }

.table11 tbody tr.deleted { border-top: 1px solid #E5383F !important; }

.table11  th { text-align: center; padding: 7px 12px;
background: #F8F8F8;
background: -moz-linear-gradient(top, #efefef 0%, #efefef 100%);
background: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #F8F8F8), color-stop(100%, #EFEFEF));
background: -webkit-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
background: -o-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
background: -ms-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
background: linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#efefef',GradientType=0 );
color: #000000;
font-family: Ham3D,B Yekan,Tahoma;font-weight:normal; font-size: 16px;
}
.table33 {
	border: 1px solid #CDCDCD;
	/* border-radius: 3px 3px 3px 3px; */
	box-shadow: 0 2px 2px -2px #CCCCCC;
	position: relative;
	width:100%;

}
.table33  td, .table3  th { border: 1px solid #dadada;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topright: 2px; -webkit-border-top-left-radius: 2px; -moz-border-radius-topleft: 2px; width:auto !important;  }
.table33  td:first-child, .table3  th:first-child { border-right: none; }
.table33  td { padding: 9px 16px; vertical-align: middle; color: #000; text-align:center;}
.table33  td  a:hover{ color: #FF7617;}
.table33  tr { border-top: 1px solid #dadada; }

.table33 tbody tr.deleted { border-top: 1px solid #E5383F !important; }

.table33  th { text-align: center; padding: 7px 12px;
background: #F8F8F8;
background: -moz-linear-gradient(top, #efefef 0%, #efefef 100%);
background: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #F8F8F8), color-stop(100%, #EFEFEF));
background: -webkit-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
background: -o-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
background: -ms-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
background: linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#efefef',GradientType=0 );
color: #000000;
font-family: Ham3D,B Yekan,Tahoma;font-weight:normal; font-size: 13px;
}


.table22 {
	border: 1px solid #CDCDCD;
	/* border-radius: 3px 3px 3px 3px; */
	box-shadow: 0 2px 2px -2px #CCCCCC;
	position: relative;
	width:100%;
}
.table22  td, .table2  th { border: 1px solid #dadada;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topright: 2px; -webkit-border-top-left-radius: 2px; -moz-border-radius-topleft: 2px; }
.table22  td:first-child, .table2  th:first-child { border-right: none; }
.table22  td { padding: 9px 16px; vertical-align: middle; color: #000; text-align:center;/*width:10% !important;*/}
.table22  td  a:hover{ color: #FF7617;}

.table22  tr { border-top: 1px solid #dadada; }

.table22 th { text-align: center; padding: 7px 12px;
background: #F8F8F8;
background: -moz-linear-gradient(top, #efefef 0%, #efefef 100%);
background: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #F8F8F8), color-stop(100%, #EFEFEF));
background: -webkit-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
background: -o-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
background: -ms-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
background: linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#efefef',GradientType=0 );
color: #000000;
font-family: Ham3D,B Yekan,Tahoma;font-weight:normal; font-size: 13px;
}
.basket_final_r {
	float:right;
	width:61%;
	padding:0 2%;
	border-left:1px solid #e5e5e5;
}
.basket_final_r div {
	padding: 10px 5px;
}
.basket_final_r hr {
	height:1px;
	padding:1px 0;
	margin:3px 0;
	border:0;
	border-bottom:1px solid #e5e5e5;
	clear:both;
}
.basket_final_l {
	float:left;
	width:33%;
}
.basket_final_l a.add_pro {
	margin-top:-7px;
}
/*invoice_info*/
.order-modal {
    background-color: #e61414 !important;
    border-radius: 4px 0;
    color: #fff;
    float: left;
    font-size: 30px;
    font-weight: bold;
    height: 27px;
    line-height: 25px;
    opacity: 1;
    padding: 0;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
    width: 27px;
    position: relative;
    z-index: 99999;
}
span.color2 {
    border-radius: 50%;
    height: 12px;
    margin: 0 0 0 3px;
    text-indent: -9999px;
    width: 12px;
}
.finish_total_price {
  margin: 10px 0 0;
  background-image: -moz-linear-gradient( 90deg, rgb(218,167,0) 0%, rgb(246,188,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(218,167,0) 0%, rgb(246,188,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(218,167,0) 0%, rgb(246,188,0) 100%);
  border: none;
  color: #fff;
  padding: 0 10px 5px;
  border-radius: 5px;
}
.finish_total_price:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(246,188,0) 0%, rgb(218,167,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(246,188,0) 0%, rgb(218,167,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(246,188,0) 0%, rgb(218,167,0) 100%);
}
.codepro input{
    border: 1px solid #cecece;
    border-radius: 5px;
    height: 35px;
    margin: 5px 0;
    width: 240px;
}
.final-pay .price {
    margin-top: 5px;
}







.advanced-search,
.advanced-search .title-list,
.advanced-search .list-pros,
.advanced-search ul,
.advanced-search ul li,
.advanced-search .list-pros ul li span,
.advanced-search .list-video {
    float: right;
    width: 100% !important;
    height: auto;
}
.advanced-search .title-list {position: relative;}
.advanced-search .title-list h4 {
    position: relative;
    float: right;
    width: auto;
    margin: 0;
    height: 30px;
    line-height: 27px;
    font-size: 15px;
    color: #ff9600;
    background-color: #fff;
    padding: 0 0 0 10px;
    z-index: 1
}
.advanced-search .title-list:after {
    position: absolute;
    content: '';
    top: 15px;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}
.advanced-search ul {
    margin: 0;
    padding: 0;
}
.advanced-search .list-pros ul,
.advanced-search .list-news ul {
    margin: 0;
    padding: 0 0 0 10px;
}
.advanced-search ul li {
    height: auto !important;
    padding: 10px 0;
    border-bottom: 1px dashed #e9e9e9 !important;
}
.advanced-search ul li:last-child {border-bottom: none !important;}
.advanced-search .list-pros ul li a.name {
    font-size: 13px;
    color: #555;
    margin: 0 0 5px;
}
.advanced-search .list-pros ul li span {
    font-size: 12px;
    color: #999;
}
.advanced-search .list-video ul li {position: relative;}
.advanced-search .list-video {margin: 0;}
.advanced-search .list-video ul li span {
    position: absolute;
    left: 5px;
    bottom: 5px;
    background-color: rgba(0,0,0,0.5);
    width: auto;
    height: 18px;
    padding: 0 5px;
    line-height: 17px;
    font-size: 11px;
    color: #fff;
    font-family: Tahoma;
    border-radius: 3px;
}
.advanced-search .list-news ul li a {
    position: relative;
    font-size: 12px;
    color: #666;
    padding: 0 10px 0 0;
}
.advanced-search .list-news ul li a:after {
    content: "•";
    position: absolute;
    right: 0px;
    top: 3px;
    font-size: 15px;
    margin: 0px;
}




.filter-box {
    text-align: right;
    height:auto!important;
    color:#333;
}
.new_filter ul {
    float: right;
    width: 100%;
    height: auto;
    padding: 0 3px;
    margin: 0;
}
.cll {
    display: block;
    width: 100%;
    position: absolute;
    border: 0px solid #CDCDCD;
    border-radius: 0px 0px 5px 5px;
    right: 0px;
    height: 0px;
    overflow: hidden;
    top: 30px;
    background: #FFFFFF;
    z-index: 999999;
    padding: 0px;
    font-size: 14px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.cll ul li {
    margin-bottom: 10px;
    line-height: 16px;
    font-size:12px;
}
.cll ul li input[type=checkbox]{vertical-align:middle;margin:0 0 0 4px;}
.cll ul {padding:0;}
.div_top > span {
    position: relative;
    height: 30px;
    line-height:26px;
    background-color: #fff;
    border: 1px solid #d2d3d3;
    border-radius: 5px;
    float: right;
    width: 100%;
    font-size: 12px;
    padding: 0 5px;
}
.div_top > span:before{
    content: "";
    position: absolute;
    top: 2px;
    left: 4px;
    height: 25px;
    width: 17px;
    background-color: #fff;
    background-image: url(img/ico/12.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 0 0 5px;
}
.div_top:hover .cll {
    height: 150px;
    padding: 20px 10px;
    border: 1px solid #CDCDCD;
    overflow: auto;
}
.new_filter > ul > li {
    float: right;
    width: auto;
    position: relative;
    margin: 0 0 5px 5px;
    font-size: 16px;
}
.new_filter > ul > li:nth-child(1),
.new_filter > ul > li:nth-child(5),
.new_filter > ul > li:nth-child(9),
.new_filter > ul > li:nth-child(13) {width: 24.6%;}
.new_filter > ul > li:nth-child(2),
.new_filter > ul > li:nth-child(6),
.new_filter > ul > li:nth-child(10),
.new_filter > ul > li:nth-child(14) {width: 24.5%}
.new_filter > ul > li:nth-child(3),
.new_filter > ul > li:nth-child(7),
.new_filter > ul > li:nth-child(11),
.new_filter > ul > li:nth-child(15) {width: 24.6%}
.new_filter > ul > li:nth-child(4),
.new_filter > ul > li:nth-child(8),
.new_filter > ul > li:nth-child(12),
.new_filter > ul > li:nth-child(16) {
    width: 24.5%;
    margin: 0 0 5px 0;
}
.db_show {
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    border: 1px solid #D9D9D9;
    width: 100%;
    overflow:hidden;
    background-color: #fff;
}
.db_show span {
    float: right;
    padding-right: 10px;
}
.db_show  .filter-title{
    float: left;
    height: 23px;
    line-height: 22px;
    width: 20px;
    border-right: 1px solid #D9D9D9;
    text-align: center;
    cursor: pointer;
}
.db_show .filter-title:hover {color: #EB2332;}
.filter-news {
    float: right;
    width: 100%;
    height: auto;
    background-image: -moz-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(249,249,249) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(249,249,249) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(249,249,249) 100%);
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 0 20px;
    padding: 5px;
}
.filter-news .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {width: 150px}
.filter-news .btn {
    height: 30px;
    float: right;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #ddd;
    font-size: 12px;
}
.filter-news .dropdown-menu.open,
.filter-news ul.dropdown-menu,
.filter-news ul.dropdown-menu li,
.filter-news ul.dropdown-menu li a {
    float: right !important;
    width: 100% !important;
    height: auto !important;
}
.filter-news .dropdown-menu.open {
    border: 1px solid #ddd;
    box-shadow: none;
    border-radius: 3px;
    padding: 0;
    margin: 2px 0 0;
}
.filter-news ul.dropdown-menu {
    margin: 0px !important;
    padding: 0px !important;
    border: none !important;
}
.filter-news ul.dropdown-menu li {
    border-radius: 3px !important;
    border: none !important;
    border-bottom: 1px solid #ddd !important;
}
.filter-news ul.dropdown-menu li:last-child {border-bottom: none !important;}
.filter-news ul.dropdown-menu li a {
    border-radius: 3px;
    border: none;
    height: 25px !important;
    line-height: 25px !important;
    padding: 0 5px !important;
    font-family: Tahoma;
}
.filter-news .search-news {
    position: relative;
    float: left;
    width: 300px;
}
.filter-news .search-news input {
    height: 30px;
    padding: 0 10px;
    float: right;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0;
    font-family: Tahoma;
    font-size: 11px;
}
.filter-news .search-news .search_btn {
    position: absolute;
    width: 30px;
    top: 0;
    left: 0;
    border: none;
    background: #D00000 url(img/ico/5.png) no-repeat scroll center center;
    border-radius: 3px 0px 0px 3px;
    text-indent: -9999px;
    height: 30px;
}
@media (max-width: 1200px) {
    .new_filter > ul > li:nth-child(1),
    .new_filter > ul > li:nth-child(5),
    .new_filter > ul > li:nth-child(9),
    .new_filter > ul > li:nth-child(13) {width: 24.5%;}
    .new_filter > ul > li:nth-child(2),
    .new_filter > ul > li:nth-child(6),
    .new_filter > ul > li:nth-child(10),
    .new_filter > ul > li:nth-child(14) {width: 24.3%}
    .new_filter > ul > li:nth-child(3),
    .new_filter > ul > li:nth-child(7),
    .new_filter > ul > li:nth-child(11),
    .new_filter > ul > li:nth-child(15) {width: 24.5%}
    .new_filter > ul > li:nth-child(4),
    .new_filter > ul > li:nth-child(8),
    .new_filter > ul > li:nth-child(12),
    .new_filter > ul > li:nth-child(16) {
        width: 24.5%;
        margin: 0 0 5px 0;
    }
}
@media (max-width: 992px) {
    .new_filter > ul > li:nth-child(1),
    .new_filter > ul > li:nth-child(3),
    .new_filter > ul > li:nth-child(5),
    .new_filter > ul > li:nth-child(7),
    .new_filter > ul > li:nth-child(9),
    .new_filter > ul > li:nth-child(11),
    .new_filter > ul > li:nth-child(13)
    .new_filter > ul > li:nth-child(15) {width: 48.94%;}
    .new_filter > ul > li:nth-child(2),
    .new_filter > ul > li:nth-child(4),
    .new_filter > ul > li:nth-child(6),
    .new_filter > ul > li:nth-child(8),
    .new_filter > ul > li:nth-child(10),
    .new_filter > ul > li:nth-child(12),
    .new_filter > ul > li:nth-child(14),
    .new_filter > ul > li:nth-child(16) {
        width: 50%;
        margin: 0 0 5px;
    }
    .filter-news .search-news {width: 283px;}
}
@media (max-width: 971px) {
    .oof {top: 5px;}
}
@media (max-width: 650px) {
    .tilte-two .search {margin: 0 0 5px;}
    .oof {
        float: left;
        width: auto;
        top: -38px;
        padding: 0 5px;
    }
    .toggle-status {margin: 0;}
}
@media (max-width: 540px) {
    .new_filter > ul > li {width: 100% !important}
    .filter-news .search-news {
        margin: 5px 0 0;
        width: 100%;
    }
    .filter-news .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {width: 100%;}
}
@media (max-width: 390px) {
    .oof {
        float: right;
        width: 100%;
        top: 5px;
        text-align: center;
    }
    .oof ul.pagination {
        display: inline-block;
        float: none;
    }
}
